# GilJobE owns STT + multimodal LiveKit subscriber logic AND the HTTP contract server
# (server/http_app.py: /subscriber/start|stop, /signals, /realtime/turn-events, /healthz, /readyz).
# Pin the integration source so Docker builds are reproducible. dae5191 adds (a) the NV-lane
# late-frame catch-up fix (bursty LiveKit delivery no longer permanently skips 3s windows) and
# (b) the external-transcript sentence lane for the Realtime flow, both on top of the
# server entrypoint (python -m giljobe.server): with
# GILJOBE_TRANSCRIPT_SOURCE=external the engine consumes API sideband events
# (POST /realtime/turn-events), drops the 3s gemma STT grid, and emits per-sentence records
# (transcript + prosody + vision + nonverbal read per sentence boundary). Default stays
# internal (gemma STT grid) — behaviour unchanged unless the env is flipped.
# The [vision,prosody] extras install the lane dependencies (mediapipe /
# praat-parselmouth+scipy); the lanes self-disable without them.
# Licence note: praat-parselmouth is GPL-3 — revisit before any public image distribution.
giljobe[vision,prosody] @ git+https://github.com/GilJob-E/GilJobE.git@dae5191
